@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

.container {
  padding: 0 204px;
}

.nav-wrapper {
  padding: 39px 48px 39px 204px;
}

.nav {
  display: flex;
  align-items: center;
}

.nav-logo {
  margin-right: 160px;
}

.nav-main {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 38px;
  margin-right: 182px;
}

.nav-main-item {
  color: white;
  font-size: 20px;
  font-weight: 300;
}

.nav-enter {
  font-size: 20px;
  color: #26c6ea;
  padding: 8px 38px;
  background: #0b0e66;
  border: 2px solid #26c7ea;
  border-radius: 35px 0;
  margin-right: 40px;
}






.nav-swither {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.nav-swither__lan {
  font-weight: 900;
}

.nav-swither-circle {
  border-radius: 10px;
  border: 1px solid white;
  padding: 4px 4px 4px 20px;
}

.nav-swither-circle__item {
  width: 12px;
  height: 12px;
  background: white;
  border-radius: 50%;
}

.page-wrapper {
  background-image: url("./Images/Rectangle\ 141\ \(2\).png");
}

.section-text1 {
  font-family: var(--font-family);
  width: 376px;
  font-weight: 400px;
  font-size: 20px;
  height: 123px;
  top: 466px;
  left: 204px;
  gap: 0px;
  opacity: 0px;
  color: white;




}

.section-text2 {
  font-family: var(--font-family);
  font-weight: 400px;
  font-size: 20px;
  width: 376px;
  height: 123px;
  top: 466px;
  left: 204px;
  gap: 0px;
  opacity: 0px;
  color: white;


}

.nav-enter2 {
  font-size: 20px;
  color: #26c6ea;
  padding: 8px 38px;
  background: #0b0e66;
  border: 3px solid #26c7ea;
  border-radius: 35px 0;
  margin-right: 40px;
}



.section-img {
  width: 148px;
  height: 40px;
  top: 426px;
  left: 257px;
  border: 1px;
}

.section {
  background-image: url("./Images/dbed054cd19ba2ec0246004d682a0389.png");
  height: 740px;
  background-position: center;
  background-size: cover;
  padding-top: 180px;
  padding-left: 204px;
  padding-right: 204px;
}

.section1 {
  height: 350px;
  background-color: white;

}

.title-section {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 40px;
  text-align: justify;
  color: #0a3853;
  margin-top: 75px;
  margin-bottom: 4px;
  margin-left: 785px;
}

.title-section2 {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 36px;
  text-align: justify;
  color: #0a3853;
  margin-left: 687px;
}

.fraza-dzeika {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 27px;
  margin-left: 1045px;
  color: #000;
  margin-top: 16px;
}

.img-section {
  height: 120px;
  margin-bottom: 10px;
  margin-top: 8px;
  margin-left: 935px;
}

.main {
  background-image: url("./Images/photo_2024-04-17_19-02-25\ \(2\).jpg");
  background-size: no-repeat;
  background-position: center;
  background-size: cover;
  height: 800px;
}

.button-main {
  color: #26c6ea;
  background-color: #0b0e66;
  border-radius: 35px 0px;
  border: 3px solid #26c6ea;
  font-family: "Inter";
  width: 260px;
  height: 80px;
  font-size: 25px;
  margin-top: 370px;
  margin-left: 900px;
}

.section2 {
  height: 350px;
  background: white;
}

.title-section3 {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 50px;
  text-align: justify;
  color: #0a3853;
  margin-top: 75px;
  margin-bottom: 4px;
  margin-left: 470px;
}

.title-section4 {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 43px;
  text-align: justify;
  color: #0a3853;
  margin-left: 650px;
}
.fraza-dzeika{
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 27px;
  margin-left: 990px;
  color: #000;
  margin-top: 16px;
}
.img-section{
  height: 120px;
  margin-bottom: 10px;
  margin-top: 8px;
  margin-left: 870px;
}
.main2{
  background-image: url(./Images/c26ec6b5111caa5165792ad61fa8bf43.png);
  background-size: no-repeat;
  background-position: center;
  background-size: cover;
  height: 800px;
}
.title-main{
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 40px;
  color: #141414;
  margin-left: 890px;
  padding-bottom: 10px;
  padding-top: 50px;
}
.main-list{
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: space-between;
padding-bottom: 50px;
padding-top: 20px;
}
.main-text{
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  color: #141414;
}
.main-item{
  height: 240px;
  background-color: white;
  margin-bottom: 24px;
  opacity: 0.8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  row-gap: 40px;
  padding-left: 84px;
  padding-right: 84px;
}
.img-main{
  width: 152px;
  height: 40px;
}
.section3{
  height: 350px;
  background: white;
}
.title-section5{
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 40px;
  text-align: justify;
  color: #0a3853;
  margin-left: 670px;

}
.title-section6{
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 36px;
  text-align: justify;
  color: #0a3853;
  margin-left: 760px;
  
}
.fraza-neytir{
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 24px;
  margin-left: 1050px;
  color: #000;
  margin-top: 16px;
}
.footer2{
  background: #2b4a61;
  height: 160px;
  display: flex;
  opacity: 0.8;
  padding: 35px 0;
  position: relative;

}
.footer2::after{
  content:"©2023 Avatar: The Way Of Water. All rights reserved" ;
  position: absolute;
  top: 87%;
  right: 30%;
  color: white;
}
.footer-information{
display: flex;
flex-direction: column;
}
.footer{
  background-image: url(./Images/Rectangle\ 142.png);
  background-size: no-repeat;
  background-position: center;
  background-size: cover;
}
.footer-line{
  height: 153px;
  width: 1px;
  background: white;
  margin-left: 270px;
  margin-right: 80px;
 
}
.text-footer{
  color: white;
  margin-top: 50px;
  margin-right: 10px;
}
.text-footer2{
  color: white;
  margin-top: 16px;
}
